{% extends "account/base.html" %}
{% load i18n widget_tweaks %}
{% block title %}Вход{% endblock %}
{% block account_content %}
<h2 class="mb-4 text-center">Вход</h2>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="mb-3">
    {{ form.login.label_tag }}
    {% render_field form.login class="form-control" %}
    {{ form.login.errors }}
  </div>
  <div class="mb-3">
    {{ form.password.label_tag }}
    {% render_field form.password class="form-control" %}
    {{ form.password.errors }}
  </div>
  <button type="submit" class="btn btn-primary w-100">Войти</button>
</form>
<p class="text-center mt-3">
  Нет аккаунта? <a href="{% url 'account_signup' %}">Регистрация</a>
</p>
{% endblock %}
